/* ---------------- 공통 폰트 ---------------- */
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 600;
}

:root {
    --line-color: #444;
}

/* ---------------- 레이아웃 ---------------- */
html, body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('/images/banners/welcome-point/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-main img {
    width: 100%;
    display: block;
    margin-top: 61px;
}

.page-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.page-button button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    width: 73vw;
}

.page-button button img {
    width: 100%;
    display: block;
}

.page-line {
    width: 91vw;
    height: 0.4px;
    background-color: #999;
    margin-top: 34px;
}

.page-comments {
    margin: 4.63vw 6.86vw 20.06vw 6.86vw;
    color: #000;
}

.page-comments-title {
    font-size: 4.5vw;
    line-height: 6.17vw;
    letter-spacing: 0.04vw;
    font-style: normal;
    font-weight: 600;
    color: #000;
}

.page-comments ul {
    list-style: none;
    margin-top: 2.47vw;
    margin-left: 0.31vw;
    width: 87.96vw;
    padding-left: 0;
}

.page-comments li {
    position: relative;
    padding-left: 6vw;
    font-size: 3.9vw;
    line-height: 5.56vw;
    letter-spacing: 0.04vw;
    color: #000;
    font-style: normal;
    font-weight: 500;
    display: block;
}

.page-comments li::before {
    content: '⦁';
    position: absolute;
    margin-left: 2vw;
    top: 0;
    left: 0;
    font-size: 90%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-img {
    width: 280px;
    max-width: 90%;
}