/* ---------------- 공통 폰트 ---------------- */
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 600;
}

:root {
    --line-color: #444;
}

/* ---------------- 레이아웃 ---------------- */
html, body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('/images/banners/welcome-point/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-main img {
    width: 100%;
    display: block;
    margin-top: 61px;
}

.page-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.page-button button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    width: 73vw;
}

.page-button button img {
    width: 100%;
    display: block;
}

.page-line {
    width: 91vw;
    height: 0.4px;
    background-color: #999;
    margin-top: 34px;
}

.page-comments {
    margin: 4.63vw 6.86vw 20.06vw 6.86vw; /* top right bottom left */
    color: #000;
}

.page-comments-title {
    font-size: 4.5vw;       /* 15px */
    line-height: 6.17vw;     /* 20px */
    letter-spacing: 0.04vw;  /* 0.131px */
    font-style: normal;
    font-weight: 600;
    color: #000;
}

.page-comments ul {
    list-style: none;
    margin-top: 2.47vw;      /* 8px */
    margin-left: 0.31vw;     /* 1px */
    width: 87.96vw;          /* 285px */
    padding-left: 0;
}

.page-comments li {
    position: relative;      /* ::before 기준 */
    padding-left: 6vw;       /* 점과 글자 간격 확보 */
    font-size: 3.9vw;       /* 13px */
    line-height: 5.56vw;     /* 18px */
    letter-spacing: 0.04vw;  /* 0.131px */
    color: #000;
    font-style: normal;
    font-weight: 500;
    display: block;          /* flex 제거 */
}

.page-comments li::before {
    content: '⦁';
    position: absolute;
    margin-left: 2vw;
    top: 0;                  /* 첫 줄 기준 */
    left: 0;                 /* li 왼쪽 끝 */
    font-size: 90%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    /*display: none;*/
    display: flex;
    z-index: 1000;
}

.modal-overlay.active {
    display: flex;
}

.modal-content img {
    max-width: 90vw;
    max-height: 90vh;
}

/*.modal-overlay.active {*/
/*    display: flex;*/
/*}*/

/*.modal-content {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-width: 1px;*/
/*    min-height: 1px;*/
/*}*/

/*.modal-content img {*/
/*    width: 70vw;*/
/*    max-width: 90vw;*/
/*    height: auto;*/
/*    position: relative;*/
/*    z-index: 2000;*/
/*}*/